.table-container {
    overflow-x:auto;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;

  }
  
  tr:nth-child(even){background-color: #f2f2f2}