* {
  padding: 0;
  margin: 0;
}

.nav-container {
  min-height: 10vh;
  background-color: rgb(100, 100, 100);
  color: white;
  
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0px auto;

}

p {
  margin-top: 24px;
  font-size: 24px;
}

.nav-links {
  margin-top: 26px ;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}